
<div class="container">
  <div class="row">
    <div class="register">
      <div class="header">
        <h2 class="head" style="font-size: 25px;">Login</h2>
     </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>
<div class="forgot">
<%= render "users/shared/links" %>
</div>
<style type="text/css">
body
  {
    background-color: green;
  }
  .log
  {
    margin-left: 730px;
    font-size: 30px;
    color: black;
  }
.header
  {
    margin-left: 165px;
  }
  .forgot
  {
    margin-left: 0px;
    font-size: 20px;
  }
  .register
  {
    border: ridge 10px black;
    width: 450px;
    padding: 20px;
    margin-top: 70px;
    margin-left: 366px;
  }
  .form-group
  {
    color: black;
    margin-left: 105px;
    padding: 18px;
  }
  .form-group label
  {
    font-size: 20px;
  }
  .actions
  {
    margin-left: 170px;
    padding: 10px;  
  }
</style>